@include mediaLg{
  .header{
    margin-top:0;
    & .planet-wrapper{
      width:40%;
      & .ship1{
        top:70%;
      }
      & .ship3{
        right:10%;
      }
    }
  }
}
@include mediaMd{
  .header{
    margin-top:0;
    flex-direction: column;
    height: 40vh;
    & .planet-wrapper{
      width:90%;
      & .planet{
        left:50%;
        transform: translateX(-50%);
      }
      & .ship1{
        right:10%;
        top:50%;
      }
    }
    & .header-wrapper{
        width:90%;
      & .header-desc{
        margin:0 auto;
      }
      & .robot{
        top:17%;
        right:5%;
      }
    }
  }
}

@include mediaSm{
  .header{
    margin-top:0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100vw;
    height: 50vh;
    & .planet-wrapper{
        width:100%;
        margin-bottom:2rem;
      & .planet{
        position: absolute;
        width:200px;
        height: 200px;
        top:5%;
        left:20%;
        & img{
          width:80%;
          height: 80%;
        }
      }
      & .ship1{
        top:60%;
        right:10%;
      }
      & .ship2{
        right:75%;
      }
      & .ship3{
        right:5%;
      }
    }
    & .header-wrapper{
      width:100%;
      height: 60%;
      & .header-desc{
        height: 100%;
        width: 85%;
        margin:0 auto;
      }
      & .robot{
        right: 55%;
        top:-25%;
        transform: rotate(0deg);
      }
    }
  }
}