@import './_variables';

.result{
  width:90vw;
  min-height: 110vh;
  margin:5rem auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  & .item{
    width:20vw;
    height: 20vh;
    margin:2rem 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../img/background-item.png');
    background-position: center center;
    background-size: 70%;
    background-repeat: no-repeat;
    animation: animItem 1s ease both;
      & h2,h3,h4 {
        color:$blue_color;
        background:rgba(0,0,0,0.1);
        font-weight: 400;
        margin:0;
        padding:0;
      }
      & p {
        color:$white_color;
        margin:0;
        padding:0;
        background:rgba(0,0,0,0.8);
      }
  }
}

@import './result_mobile';