
@include mediaSm{
  .search{
      & form{
        width:90%;
        & .input-wrapper{
          width:100%;
        }
        & .select-div{
          left:-20%;
        }
      }  
    }
}

@include mediaMd{
  .search{
      & form{
        & .input-wrapper{
          width:100%;
        }
        & .select-div{
          left:-15%;
        }
      }
    }
  }
@include mediaLg{
  .search{
    & form{

      & .input-wrapper{
        width:100%;
      }
    }
  }
}

