//varaibles
$bg_color:#000;
$white_color:#fff;
$yellow_color:#e4b201;
$grey_color:#ccc;
$blue_color:#2895da;

@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap');

@mixin trans {
  transition: all 0.3s ease-in;
}